<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="SebCSInternalLocal" value="https://repo.sebank.se/artifactory/api/nuget/seb-cs-internal-local" />
        <add key="SebCSInternal" value="https://repo.sebank.se/artifactory/api/nuget/seb-cs-internal" />
        <add key="SEB Artifactory" value="https://repo.sebank.se/artifactory/api/nuget/sebget-release" />
    </packageSources>
    <disabledPackageSources>
        <add key="nuget.org" value="true" />
    </disabledPackageSources>
</configuration>